E2E_CPF=321.291.520-07
E2E_SENHA=123456
BASE_URL=http://localhost/coed/
BROWSER_CHANNEL=chrome

# Documentos existentes (duplicidade de cadastro)
E2E_ACO_NIS_EXISTENTE=123456
E2E_ACO_CPF_EXISTENTE=400.289.222-22